<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Sign</title>
    <link rel="stylesheet" href="css/feedback.css">
</head>
<body>
    <div id='allpage'>
        <h1>Info Form</h1>
        <div id="form">
            <div id="line"></div>
            <form action="/signs" method="post">
                <input name="user" value = "<%= user %>" hidden readonly>
                <div class="form-group">
                  <label for="pulseRate">Pulse Rate:</label>
                        <input type="text" name="pulseRate" />
                </div>
                <div class="form-group">
                    <label for="bloodPressure">Blood Pressure:</label>
                          <input type="text" name="bloodPressure" required/>
                  </div>
                <div class="form-group">
                    <label for="weight">Weight:</label>
                          <input type="text" name="weight" required/>
                  </div>
                  <div class="form-group">
                      <label for="instructor">Temperature:</label>
                          <input type="text" name="temperature" required/>
                  </div>
                  <div class="form-group">
                    <label for="respiratory">Respiratory:</label>
                        <input type="text" name="respiratory" required/>
                </div>
                  <br>
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>