<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Course Evaluation</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div id='allpage'>
        <h1>Course Evaluation</h1>
        <div id="line"></div>
        <a href='/signup'>Sign Up as Student</a>
        <br>
        <a href='/login'>Login Up as Student</a>
        <br>
        <a href='/search'>Display Comments by Student</a>
    </div>
 </body>
