<!DOCTYPE html>
<html lang="en">
<head>
    <title>Result</title>
    <link rel="stylesheet" href="css/thank.css">
</head>
<body>
    <div id='allpage'>
        <h1 id="thank">Result</h1>
        <div id="line"></div>
        <h2>Possibly symptom: <%= symptom %></h2>
        <h3 style="margin-bottom: 0px;">Advice: </h3>
        <h3 id=comment><%= advice %></h3>
        <a href='/patient' style="padding-bottom: 20px;">Home Page</a>
    </div>
    
</body>
</html>