<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Tip</title>
    <link rel="stylesheet" href="css/feedback.css">
</head>
<body>
    <div id='allpage'>
        <h1>Add Tip</h1>
        <div id="form">
            <div id="line"></div>
            <form action="/tip" method="post">
                  <div class="form-group" >
                          <textarea style="width: 95%;" name="tip" rows="5" required></textarea>
                  </div>
                  <br>
                <button type="submit" style="margin-bottom: 20px;">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>